p {
  margin-right: 40px;
  font-weight: bold;
}

.container {
  display: flex;
  min-width: min-content;
  overflow: auto;
  padding-top: 10px;
}

.textfield {
  width: 300px;
  margin-right: 20px;
}
