.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.graphView {
  width: 100%;
  height: 100vh;
}

.bottomDetails {
  width: 100%;
  height: 30vh;
  box-shadow: black 0px 3px 10px;
  z-index: 10;
}

.nodeDetails {
  position: absolute;
  top: 0;
  left: 0;
}

.hamburgerMenu {
  position: absolute;
  right: 60px;
  top: 10px;
}

.toolbar {
  position: absolute;
  right: 10px;
  top: 200px;
}
