.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.graphView {
  width: 100%;
  height: 70vh;
}

.detailsView {
  width: 600px;
  transform: translateX(0px);
}

.bottomDetails {
  width: 100%;
  height: 30vh;
  box-shadow: black 0px 3px 10px;
  z-index: 10;
}

.exportButton {
  position: absolute;
  left: 20px;
  top: 10px;
}
